
.cartDiv{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    height: 100%;
    align-items: center;
    margin-left: 10px;
    
    
}
.hotellistDiv{
    display: grid;
}
#favlist{
    margin-left: 46%;
}
#location{
    min-width: 360px;
}

@media only screen and (max-width: 1541px) and (min-width: 720px) {
    .cartDiv{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-content: center;
        height: 100%;
        align-items: center;
        margin-left: 20px;
        margin-top: 20px;
        
    }
    #favlist{
        margin-left: 30%;
    }
    
    #location{font-size: 15px;
        min-width: 330px;
    }
}
 @media only screen and (max-width: 720px) {
    .cartDiv{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        height: 100%;
        align-items: center;
        margin-left: 10px;
        
    }
    #favlist{
        margin-left: 0%;
        font-size: 10px;
        margin-top: 3%;
    }
    #input{
        margin-left: 10px;
    }
    #location{font-size: 15px;
        padding: 0px;
        margin-left: 0px;
        min-width: 0px;
     
    }
    
}